<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">配置中心</h1>
</div>
<div class="wrapper-md">  
  <div class="panel panel-default">
    <form name="form" class="form-validation ">
            <div class="panel-body">
              <div class="form-group pull-in clearfix">
                <div class="col-sm-4">
                  <label>最大租客数</label>
                  <input type="number" class="form-control" name="maxHirer" ng-model="maxHirer.configValue" required="">   
                  <button type="submit" class="btn btn-success" ng-click="modify1()">修改</button>
                </div>
                <div class="col-sm-4">
                  <label>最大密码数</label>
                  <input type="number" class="form-control" name="maxPassword" ng-model="maxPassword.configValue" required="">   
                  <button type="submit" class="btn btn-success" ng-click="modify2()">修改</button>
                </div>
              </div>
            </div>
        </form>
  </div>
</div>