<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">密码</h1>
</div>
<div class="wrapper-md">  
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <select class="input-sm form-control w-sm inline v-middle" ng-change="changePageSize()" ng-model="pageSize" style="width: 65px">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <!-- <button class="btn btn-sm btn-default">Apply</button>       -->          
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" ng-change="search()" ng-model="searchText" placeholder="Search">
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light" style="table-layout:fixed">
        <thead>
          <tr>
          	<th>锁号</th>
          	<th>锁名称</th>
            <th>用户名称</th>
            <th>用户手机</th>
            <th>自定义名称</th>
           	<th>密码类型</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="password in passwords">
            <td>{{password.lock.keyNumber}}</td>
            <td>{{password.lock.name}}</td>
            <td>{{password.user.username}}</td>
            <td>{{password.user.phone}}</td>
            <td>{{password.name}}</td>
            <td>{{password.typeName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <!-- <div class="col-sm-4 hidden-xs">
          <select class="input-sm form-control w-sm inline v-middle">
            <option value="0">Bulk action</option>
            <option value="1">Delete selected</option>
            <option value="2">Bulk edit</option>
            <option value="3">Export</option>
          </select>
          <button class="btn btn-sm btn-default">Apply</button>                  
        </div> -->
        <div class="col-sm-4">
          <small class="text-muted inline m-t-sm m-b-sm">showing {{start}}-{{end}} of {{total}} items</small>
        </div>
        <div class="col-sm-offset-4 col-sm-4 text-right text-center-xs" ng-if="pages.length>0">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li ng-if="!hasPrevious" class="disabled"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-if="hasPrevious"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-class="{true:'active'}[p==currentPage]" ng-repeat="p in pages"><a ng-click="pageTo({{p}})">{{p}}</a></li>
            <li ng-if="hasNext"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
            <li ng-if="!hasNext" class="disabled"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>