<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">智能锁管理</h1>
</div>
<div class="wrapper-md">  
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <select class="input-sm form-control w-sm inline v-middle" ng-change="changePageSize()" ng-model="pageSize" style="width: 65px">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" ng-change="search()" ng-model="searchText" placeholder="Search">
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light" style="table-layout:fixed">
        <thead>
          <tr>
            <th>自定义名称</th>
            <th>密钥</th>
            <th>房东手机号</th>
            <th>电量</th>
            <th>房客安全模式</th>
            <th>是否合租</th>
            <th>keyUser</th>
            <th>keyNumber</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="lock in locks">
            <td>{{lock.name}}</td>
            <td>{{lock.keyAdmin}}</td>
            <td>{{lock.user.phone}}</td>
            <td>{{lock.battery}}</td>
            <td ng-if="lock.safeMode == 0">否</td>
            <td ng-if="lock.safeMode == 1">是</td>
            <td ng-if="lock.ifShared == 0">否</td>
            <td ng-if="lock.ifShared == 1">是</td>
            <td style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis;">{{lock.keyUser}}</td>
            <td>{{lock.keyNumber}}</td>
            <td>
              <div class="btn-group">
					<button type="button" ng-click="edit({{lock.id}})" class="btn btn-info">编辑</button>
			  </div>
			</td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4">
          <small class="text-muted inline m-t-sm m-b-sm">showing {{start}}-{{end}} of {{total}} items</small>
        </div>
        <div class="col-sm-offset-4 col-sm-4 text-right text-center-xs" ng-if="pages.length>0">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li ng-if="!hasPrevious" class="disabled"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-if="hasPrevious"><a ng-click="lastPage()"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-class="{true:'active'}[p==currentPage]" ng-repeat="p in pages"><a ng-click="pageTo({{p}})">{{p}}</a></li>
            <li ng-if="hasNext"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
            <li ng-if="!hasNext" class="disabled"><a  ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>