<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.i9.lock.platform.dao.mapper.PasswordMapper" >
  <resultMap id="BaseResultMap" type="org.i9.lock.platform.model.Password" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lockId" property="lockId" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="orderNumber" property="orderNumber" jdbcType="INTEGER" />
    <association property="lock" column="lockId" select="org.i9.lock.platform.dao.mapper.LockMapper.selectByPrimaryKey"/>
    <association property="user" column="userId" select="org.i9.lock.platform.dao.mapper.UserMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Query_By_Dto_Where_Clause">
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="example.name != null and example.name != ''">
           OR (name like CONCAT('%',CONCAT('${example.name}','%'))
       </if>
       <if test="example.lockName != null and example.lockName != ''">
           OR lockId in (select id from t_lock where name like CONCAT('%',CONCAT('${example.lockName}','%')))
       </if>
       <if test="example.lockNumber != null and example.lockNumber != ''">
           OR lockId in (select id from t_lock where keyNumber like CONCAT('%',CONCAT('${example.lockNumber}','%')))
       </if>
       <if test="example.userName != null and example.userName != ''">
           OR userId in (select id from t_user where username like CONCAT('%',CONCAT('${example.userName}','%')))
       </if>
       <if test="example.userPhone != null and example.userPhone != ''">
           OR userId in (select id from t_user where phone like CONCAT('%',CONCAT('${example.userPhone}','%'))))
       </if>
    </trim>
   </sql>
  <sql id="Base_Column_List" >
    id, lockId, userId, name, type, orderNumber
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.i9.lock.platform.model.PasswordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_password
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_password
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_password
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.i9.lock.platform.model.PasswordExample" >
    delete from t_password
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.i9.lock.platform.model.Password" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_password (lockId, userId, name, 
      type, orderNumber)
    values (#{lockId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{orderNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.i9.lock.platform.model.Password" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_password
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lockId != null" >
        lockId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="name != null and name != ''" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="orderNumber != null" >
        orderNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lockId != null" >
        #{lockId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null and name != ''" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" resultType="java.lang.Integer" >
    select count(*) from t_password
    <if test="_parameter != null" >
      <include refid="Query_By_Dto_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_password
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lockId != null" >
        lockId = #{record.lockId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        userId = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null and record.name != ''" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.orderNumber != null" >
        orderNumber = #{record.orderNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_password
    set id = #{record.id,jdbcType=INTEGER},
      lockId = #{record.lockId,jdbcType=BIGINT},
      userId = #{record.userId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=TINYINT},
      orderNumber = #{record.orderNumber,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.i9.lock.platform.model.Password" >
    update t_password
    <set >
      <if test="lockId != null" >
        lockId = #{lockId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null and name != ''" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="orderNumber != null" >
        orderNumber = #{orderNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.i9.lock.platform.model.Password" >
    update t_password
    set lockId = #{lockId,jdbcType=BIGINT},
      userId = #{userId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      orderNumber = #{orderNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectExistOrderNumber" resultType="int">
    select orderNumber from t_password where lockId = #{lockId} and userId = #{userId}
  </select>
  <select id="selectExistOrderNumber2" resultType="int">
    select orderNumber from t_password where lockId = #{lockId} 
  </select>
  <select id="selectExistOrderNumber3" resultType="int">
    select orderNumber from t_password where lockId = #{lockId} and userId = #{userId} ORDER BY orderNumber
  </select>
  
  <select id="selectByLimitPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_password
    <if test="_parameter != null">
        <include refid="Query_By_Dto_Where_Clause" />
    </if>
    <if test="example.orderByClause != null and example.orderByClause != ''">
        order by ${example.orderByClause}
    </if>
    limit #{offset},#{limit}
  </select>
  <delete id="deletePasswordByLockId">
  	delete from t_password where lockId = #{lockId} 
  </delete>
  <insert id="insertPwdByLockIdAndUserId" parameterType="java.util.List">
  	insert into t_password(lockId,userId,name,orderNumber) 
  	values
  	<foreach collection="pwdSameList" item="item" index="index" separator=",">
  		(#{item.lockId},#{item.userId},#{item.name},#{item.orderNumber})
  	</foreach>
  </insert>
  
  <delete id="delPwdByLockIdAndUserId" parameterType="java.util.HashMap">
  	delete from t_password 
  	where lockId =#{lockId} AND userId=#{userId} AND orderNumber in
  	<foreach collection="unPwdSameList" item="item" index="index" open="(" close=")" separator=",">
  		#{item}
  	</foreach>
  </delete>
</mapper>